:root {

    --dark-background: #1F2937;
    --blue-background: #3882F6;

    --quote-background: #E5E7EB;
    --quote-text: #1F2937;

    --primary-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --tertiary-text: #1F2937;

    --logo-text: #F9FAF8;

    --font-primary: 'Roboto', Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
}


/* HEADER */

#header {
    background-color: var(--dark-background);
}

#header .navbar {
    display: flex;
    justify-content: space-between;
}

.logo-area {
    flex: 3;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 12.5%;
    color: var(--logo-text);
}

#header .navbar-nav {
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    color: var(--primary-text);
}

.nav-link:hover {
    color: var(--secondary-text);
}

.header-content {
    display: flex;
    gap: 5em;
    padding: 5em 0;
    justify-content: space-between;
}

.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

#img-header {
    border-radius: 30px;
}

.header-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-text);
}

.header-subtitle {
    font-size: 1.125rem;
    color: var(--secondary-text);
}

.btn-start {
    width: 200px;
    color: var(--primary-text);
    background-color: var(--blue-background);
}

.btn-start:hover,
.btn-start:focus {
    color: var(--primary-text);
    background-color: var(--blue-background);
}



/* MAIN */

#main {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 5em 0;
}

/* INFORMATION SECTION */

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.section-title {
    font-family: 2.25rem;
    font-weight: 900;
    color: var(--tertiary-text);
}

.card-area {
    text-align: center;
    display: flex;
    gap: 5em;
}

.information-card {
    border: none;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--tertiary-text);
}

.card-text {
    color: var(--tertiary-text);
}

.card-img {
    font-size: 5rem;
}

/* QUOTE SECTION */

#quote {
    padding: 7em 0;
    background-color: var(--quote-background);
}

.quote-text {
    font-size: 2.25rem;
    font-style: italic;
}

.quote-author {
    font-size: 1.125rem;
    font-weight: 900;
    text-align: right;
}

.quote-author::before {
    content: "-";
}